<%- include('header') %>
<div class="suggest-div-1">
    <div class="suggest-div-2">
        <div class="<%=themecolor%>">
            <h1 class="typing-text" style="margin-top: 10vh;">SUGGEST A NEW QUOTE</h1>
            <p class="typing-text" style="animation-delay: 3s;">We would love to see your recommendation.</p>
        </div>
        <div style="margin-top: 5vh;">
            <form action="/suggest" method="POST">
                <textarea style="border-radius: 15px; max-width: 80%;" name="quote" id="quote" cols="50" rows="10" placeholder="Quote" required></textarea><br>
                <input style="margin: 3vh auto; border-radius: 10px;" type="text" name="name" placeholder="Who said it?" required><br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<%-include('footer')%>